In [26]:
import os
import pandas as pd
import numpy as np

In [2]:
os.getcwd()

'D:\\Data & Projects\\Amazon Product Review Data'

In [3]:
amadata = pd.read_csv('7817_1.csv')
amadata.head(5)

,id,asins,brand,categories,colors,dateAdded,dateUpdated,dimension,ean,keys,...,reviews.rating,reviews.sourceURLs,reviews.text,reviews.title,reviews.userCity,reviews.userProvince,reviews.username,sizes,upc,weight
0,AVpe7AsMilAPnD_xQ78G,B00QJDU3KY,Amazon,"Amazon Devices,mazon.co.uk",NaN,2016-03-08T20:21:53Z,2017-07-18T23:52:58Z,169 mm x 117 mm x 9.1 mm,NaN,kindlepaperwhite/b00qjdu3ky,...,5.0,https://www.amazon.com/Kindle-Paperwhite-High-...,I initially had trouble deciding between the p...,"Paperwhite voyage, no regrets!",NaN,NaN,Cristina M,NaN,NaN,205 grams
1,AVpe7AsMilAPnD_xQ78G,B00QJDU3KY,Amazon,"Amazon Devices,mazon.co.uk",NaN,2016-03-08T20:21:53Z,2017-07-18T23:52:58Z,169 mm x 117 mm x 9.1 mm,NaN,kindlepaperwhite/b00qjdu3ky,...,5.0,https://www.amazon.com/Kindle-Paperwhite-High-...,Allow me to preface this with a little history...,One Simply Could Not Ask For More,NaN,NaN,Ricky,NaN,NaN,205 grams
2,AVpe7AsMilAPnD_xQ78G,B00QJDU3KY,Amazon,"Amazon Devices,mazon.co.uk",NaN,2016-03-08T20:21:53Z,2017-07-18T23:52:58Z,169 mm x 117 mm x 9.1 mm,NaN,kindlepaperwhite/b00qjdu3ky,...,4.0,https://www.amazon.com/Kindle-Paperwhite-High-...,I am enjoying it so far. Great for reading. Ha...,Great for those that just want an e-reader,NaN,NaN,Tedd Gardiner,NaN,NaN,205 grams
3,AVpe7AsMilAPnD_xQ78G,B00QJDU3KY,Amazon,"Amazon Devices,mazon.co.uk",NaN,2016-03-08T20:21:53Z,2017-07-18T23:52:58Z,169 mm x 117 mm x 9.1 mm,NaN,kindlepaperwhite/b00qjdu3ky,...,5.0,https://www.amazon.com/Kindle-Paperwhite-High-...,I bought one of the first Paperwhites and have...,Love / Hate relationship,NaN,NaN,Dougal,NaN,NaN,205 grams
4,AVpe7AsMilAPnD_xQ78G,B00QJDU3KY,Amazon,"Amazon Devices,mazon.co.uk",NaN,2016-03-08T20:21:53Z,2017-07-18T23:52:58Z,169 mm x 117 mm x 9.1 mm,NaN,kindlepaperwhite/b00qjdu3ky,...,5.0,https://www.amazon.com/Kindle-Paperwhite-High-...,I have to say upfront - I don't like coroporat...,I LOVE IT,NaN,NaN,Miljan David Tanic,NaN,NaN,205 grams

In [4]:
amadata.dtypes

id                       object
asins                    object
brand                    object
categories               object
colors                   object
dateAdded                object
dateUpdated              object
dimension                object
ean                     float64
keys                     object
manufacturer             object
manufacturerNumber       object
name                     object
prices                   object
reviews.date             object
reviews.doRecommend      object
reviews.numHelpful      float64
reviews.rating          float64
reviews.sourceURLs       object
reviews.text             object
reviews.title            object
reviews.userCity        float64
reviews.userProvince    float64
reviews.username         object
sizes                   float64
upc                     float64
weight                   object
dtype: object

In [6]:
col_list = list(amadata.columns)
datastr = pd.DataFrame(columns = ['colname','obs','uniques','missing_','dtype'])
for col in col_list:
    datum = pd.DataFrame({'colname':[col],
                          'obs':[len(amadata[col])],
                          'uniques':[len(amadata[col].unique())],
                          'missing_':[((amadata[col].isna().sum())/amadata.shape[0])*100],
                          'dtype':[amadata[col].dtype]})
    datastr = pd.concat([datastr,datum],axis = 0)

In [7]:
datastr

                colname   obs uniques    missing_    dtype
0                    id  1597      66    0.000000   object
0                 asins  1597      54    0.000000   object
0                 brand  1597       2    0.000000   object
0            categories  1597      19    0.000000   object
0                colors  1597       4   51.534126   object
0             dateAdded  1597      50    0.000000   object
0           dateUpdated  1597      42    0.000000   object
0             dimension  1597       3   64.621165   object
0                   ean  1597       3   43.769568  float64
0                  keys  1597      66    0.000000   object
0          manufacturer  1597       3   39.574202   object
0    manufacturerNumber  1597       7   43.519098   object
0                  name  1597      62    0.000000   object
0                prices  1597      66    0.000000   object
0          reviews.date  1597     383   23.794615   object
0   reviews.doRecommend  1597       3   66.249217   object
0    reviews.numHelpful  1597     183   43.644333  float64
0        reviews.rating  1597       6   26.299311  float64
0    reviews.sourceURLs  1597     499    0.000000   object
0          reviews.text  1597    1048    0.000000   object
0         reviews.title  1597    1271    1.064496   object
0      reviews.userCity  1597       1  100.000000  float64
0  reviews.userProvince  1597       1  100.000000  float64
0      reviews.username  1597     950    1.064496   object
0                 sizes  1597       1  100.000000  float64
0                   upc  1597       3   43.769568  float64
0                weight  1597      10   57.044458   object

1. Investigate the Primary Key 
2. Investigate the missing information

In [8]:
amadata.colors.unique()

array([nan, 'GB', 'Black', 'Clear'], dtype=object)

In [9]:
amadata.columns

Index(['id', 'asins', 'brand', 'categories', 'colors', 'dateAdded',
       'dateUpdated', 'dimension', 'ean', 'keys', 'manufacturer',
       'manufacturerNumber', 'name', 'prices', 'reviews.date',
       'reviews.doRecommend', 'reviews.numHelpful', 'reviews.rating',
       'reviews.sourceURLs', 'reviews.text', 'reviews.title',
       'reviews.userCity', 'reviews.userProvince', 'reviews.username', 'sizes',
       'upc', 'weight'],
      dtype='object')

In [15]:
amadata['brand_cat_key'] = amadata['brand'].astype(str) +"-"+amadata['categories'].astype(str)
brand_cat_list = list(amadata['brand_cat_key'].unique())

In [13]:
len(brand_cat_list)

19

In [24]:
colorsdata = pd.DataFrame()
for brandcat in brand_cat_list:
    datum = pd.DataFrame({'brand_category':brandcat,
                          'colors': amadata.loc[amadata['brand_cat_key'] == brandcat].colors.unique(),
                          '#missing':amadata.loc[amadata['brand_cat_key'] == brandcat].colors.isna().sum()})
    colorsdata = pd.concat([colorsdata,datum],axis = 0)

In [34]:
colorsdata.loc[(colorsdata['colors'].isna()) == False]

                                      brand_category colors  #missing
1                  Amazon-Electronics,Amazon Devices     GB        24
0  Amazon-Amazon Devices,Home,Smart Home & Connec...  Black         0
0  Moshi-Cell Phones & Accessories,Accessories,Sc...  Clear         0
0  Amazon-Amazon Devices,Corded Headsets,Electron...  Black         0

In [32]:
colorsdata.colors.unique()

array([nan, 'GB', 'Black', 'Clear'], dtype=object)